div {
	font-family: "Open Sans", sans-serif;
}

code {
	font-family: "Fira Mono", monospace !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand-logo,
.btn {
	font-family: "Varela Round", sans-serif;
}

.brand-logo {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

#app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.preloader-white-background {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(255, 255, 255, 0.66);
	z-index: 2;
}

.bold {
	font-weight: bold;
}

.no-return {
	white-space: nowrap;
}

.no-bullet {
	list-style-type: none;
}

.lined {
	border-left: dotted 1px rgba(0, 0, 0, 0.1);
}

.CodeMirror-line {
	font-family: "Fira Mono", monospace !important;
}

.on-hover-cursor-pointer:hover {
	cursor: pointer;
}

.clear-xl {
	clear: none;
}

.clear-l {
	clear: none;
}

.clear-m {
	clear: none;
}

.clear-s {
	clear: none;
}

@media screen and (max-width: 600px) {
	.clear-s {
		clear: both;
	}
}

@media screen and (min-width: 601px) and (max-width: 992px) {
	.clear-m {
		clear: both;
	}
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
	.clear-l {
		clear: both;
	}
}

@media screen and (min-width: 1201px) {
	.clear-xl {
		clear: both;
	}
}

.masonry {
	column-count: 1;
	column-gap: 1.5rem;
}

.masonry > * {
	break-inside: avoid;
	margin-bottom: 1.6rem;
}

@media screen and (max-width: 600px) {
	.masonry.s12 {
		column-count: 1;
	}
}

@media screen and (min-width: 601px) and (max-width: 992px) {
	.masonry.m4 {
		column-count: 3;
	}
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
	.masonry.l3 {
		column-count: 4;
	}
}

@media screen and (min-width: 1201px) {
	.masonry.xl3 {
		column-count: 4;
	}
}
