<rs-container>
		<rs-spacer />
		<div class="col s12"><h2 class="center-align">Page not found</h2></div>
		<rs-spacer />
		<div class="col s12">
			<div class="center-align">
				<img
					src="/rs-json/img/lost.svg"
					alt="lost icon"
					height="72px"
				/>
			</div>
		</div>
		<rs-spacer />
		<div class="col s12">
			<div class="center-align">
				Seems like we are bad at coding internet or this page really
				does not exist.
			</div>
		</div>
		<rs-spacer />
	</div>
	<rs-edit-proposal-fab href="/html/template/404.html" />
</rs-container>
