<div class="container">
	<div class="row">
		<div class="col s12"><br /></div>
		<div class="col s12"><h2 class="center-align">Page not found</h2></div>
		<div class="col s12"><br /></div>
		<div class="col s12">
			<div class="center-align">
				<img
					src="/rs-json/img/lost.svg"
					alt="lost icon"
					height="72px"
				/>
			</div>
		</div>
		<div class="col s12"><br /></div>
		<div class="col s12">
			<div class="center-align">
				Seems like we are bad at coding internet or this page really
				does not exist.
			</div>
		</div>
		<div class="col s12"><br /></div>
	</div>
</div>
