<rs-container>
		<rs-spacer />
		<div class="col s12">
			<rs-breadcrumb>
				<rs-breadcrumb-item to="/rs-json/" text="Home" />
				<rs-breadcrumb-item to="/rs-json/documentation" text="Documentation" />
			</rs-breadcrumb>
		</div>
		<rs-spacer />
		<div class="col s12 m8 l6 offset-m2 offset-l3">
			<div class="collection">
				<rs-collection-item to="/rs-json/documentation/api" text="API" />
				<rs-collection-item to="/rs-json/documentation/charsets" text="Charsets" />
				<rs-collection-item to="/rs-json/documentation/guards" text="Guards" />
				<rs-collection-item to="/rs-json/documentation/license" text="License" />
				<rs-collection-item to="/rs-json/documentation/types" text="Types" />
				<rs-collection-item to="/rs-json/documentation/version" text="Version" />
			</div>
		</div>
	</div>
	<rs-edit-proposal-fab href="/html/template/documentation.html" />
</rs-container>