<rs-container>
		<rs-spacer />
		<div class="col s12">
			<rs-breadcrumb>
				<rs-breadcrumb-item to="/rs-json/" v-bind:text="$t('breadcrumb.home.text')" />
				<rs-breadcrumb-item to="/rs-json/documentation" v-bind:text="$t('breadcrumb.documentation.text')" />
			</rs-breadcrumb>
		</div>
		<rs-spacer />
		<div class="col s12 m4 l4 xl3">
			<router-link tag="div" to="/rs-json/documentation/api" class="hoverable card pink darken-3 white-text on-hover-cursor-pointer">
				<div class="card-content">
					<span class="card-title">{{ $t('documentation.menu.api.title') }}</span>
					<p class="pink-text text-lighten-4">
						{{ $t('documentation.menu.api.text') }}
					</p>
				</div>
			</router-link>
		</div>
		<div class="col s12 m4 l4 xl3">
			<router-link tag="div" to="/rs-json/documentation/charsets" class="hoverable card indigo darken-3 white-text on-hover-cursor-pointer">
				<div class="card-content">
					<span class="card-title">{{ $t('documentation.menu.charsets.title') }}</span>
					<p class="indigo-text text-lighten-4">
						{{ $t('documentation.menu.charsets.text') }}
					</p>
				</div>
			</router-link>
		</div>
		<div class="clear-s"></div>
		<div class="col s12 m4 l4 xl3">
			<router-link tag="div" to="/rs-json/documentation/guards" class="hoverable card cyan darken-3 white-text on-hover-cursor-pointer">
				<div class="card-content">
					<span class="card-title">{{ $t('documentation.menu.guards.title') }}</span>
					<p class="cyan-text text-lighten-4">
						{{ $t('documentation.menu.guards.text') }}
					</p>
				</div>
			</router-link>
		</div>
		<div class="clear-l"></div>
		<div class="clear-m"></div>
		<div class="col s12 m4 l4 xl3">
			<router-link tag="div" to="/rs-json/documentation/license" class="hoverable card light-green darken-3 white-text on-hover-cursor-pointer">
				<div class="card-content">
					<span class="card-title">{{ $t('documentation.menu.license.title') }}</span>
					<p class="light-green-text text-lighten-4">
						{{ $t('documentation.menu.license.text') }}
					</p>
				</div>
			</router-link>
		</div>
		<div class="clear-s"></div>
		<div class="clear-xl"></div>
		<div class="col s12 m4 l4 xl3">
			<router-link tag="div" to="/rs-json/documentation/types" class="hoverable card purple darken-3 white-text on-hover-cursor-pointer">
				<div class="card-content">
					<span class="card-title">{{ $t('documentation.menu.types.title') }}</span>
					<p class="purple-text text-lighten-4">
						{{ $t('documentation.menu.types.text') }}
					</p>
				</div>
			</router-link>
		</div>
		<div class="col s12 m4 l4 xl3">
			<router-link tag="div" to="/rs-json/documentation/version" class="hoverable card brown darken-3 white-text on-hover-cursor-pointer">
				<div class="card-content">
					<span class="card-title">{{ $t('documentation.menu.version.title') }}</span>
					<p class="brown-text text-lighten-4">
						{{ $t('documentation.menu.version.text') }}
					</p>
				</div>
			</router-link>
		</div>
		<div class="col s12 m4 l4 xl3">
			<router-link tag="div" to="/rs-json/documentation/uniqueness" class="hoverable card red darken-3 white-text on-hover-cursor-pointer">
				<div class="card-content">
					<span class="card-title">{{ $t('documentation.menu.uniqueness.title') }}</span>
					<p class="red-text text-lighten-4">
						{{ $t('documentation.menu.uniqueness.text') }}
					</p>
				</div>
			</router-link>
		</div>
		<div class="clear-l"></div>
		<div class="clear-m"></div>
		<div class="clear-s"></div>
	</div>
	<rs-edit-proposal-fab href="/html/template/documentation.html" />
</rs-container>