<footer class="page-footer amber darken-3">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">RS/JSON</h5>
				<p class="grey-text text-lighten-4">
					{{ $t("footer.slogan") }}
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">{{ $t("footer.resources.text") }}</h5>
				<ul>
					<li>
						<router-link
							class="grey-text text-lighten-3"
							to="/rs-json/example"
							>{{
								$t("footer.resources.menu.example")
							}}</router-link
						>
					</li>
					<li>
						<router-link
							class="grey-text text-lighten-3"
							to="/rs-json/documentation"
							>{{
								$t("footer.resources.menu.documentation")
							}}</router-link
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col s12">{{ $t("footer.license") }}</div>
			</div>
		</div>
	</div>
</footer>
