<rs-container>
    <rs-spacer />
    <div class="col s12">
        <rs-breadcrumb>
            <rs-breadcrumb-item to="/" v-bind:text="$t('breadcrumb.home.text')" />
            <rs-breadcrumb-item to="/try-it" v-bind:text="$t('breadcrumb.tryIt.text')" />
        </rs-breadcrumb>
    </div>
    <div class="col s12">
        <rs-paragraph>
            {{ $t('tryIt.writeSomeRsJson') }}
        </rs-paragraph>
        <p v-html="$t('tryIt.simplifiedVersionOfRsJson')"></p>
    </div>
    <div class="col s12 m6 l6">
        <rs-card>
            <div slot="content">
                <textarea id="editor" style="height: auto;">{{ initialCode }}</textarea>
            </div>
        </rs-card>
    </div>
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab"><a href="#my-sql" class="active">MySQL</a></li>
                    <li class="tab"><a href="#laravel-5">Laravel 5</a></li>
                </ul>
            </div>
            <div class="card-content grey lighten-4">
                <div id="my-sql">
                    <pre><code class="language-sql">{{ mySql }}</code></pre>
                </div>
                <div id="laravel-5">
                    <pre><code class="language-PHP">{{ laravel5 }}</code></pre>
                    <i v-html="$t('tryIt.canAlsoExportToEloquent')"></i>
                </div>
            </div>
        </div>
    </div>
</rs-container>