<div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<br />
			</div>
			<div class="col s12">
				<rs-breadcrumb>
					<rs-breadcrumb-item to="/rs-json/" text="Home" />
					<rs-breadcrumb-item to="/rs-json/documentation" text="Documentation" />
				</rs-breadcrumb>
			</div>
			<div class="col s12">
				<br />
			</div>
			<div class="col s12 m8 l6 offset-m2 offset-l3">
				<div class="collection">
					<rs-collection-item to="/rs-json/documentation/file-structure" text="File structure" />
					<rs-collection-item to="/rs-json/documentation/types" text="Types" />
					<rs-collection-item to="/rs-json/documentation/charsets" text="Charsets" />
					<rs-collection-item to="/rs-json/documentation/implementations" text="Implementations" />
				</div>
			</div>
		</div>
	</div>
	<rs-edit-proposal-fab href="https://github.com/khalyomede/rs-json/edit/gh-pages/rs-json/html/template/documentation.html" />
</div>