<rs-container>
	<rs-spacer />
	<div class="col s12">
		<rs-breadcrumb>
			<rs-breadcrumb-item to="/rs-json" v-bind:text="$t('breadcrumb.home.text')" />
			<rs-breadcrumb-item to="/rs-json/example" v-bind:text="$t('breadcrumb.example.text')" />
		</rs-breadcrumb>
	</div>
	<rs-spacer />
	<div class="col s12">
		<div class="masonry xl3 l3 m4 s12">
			<div class="hoverable card deep-purple">
				<div class="card-content">
					<span class="card-title white-text">{{ $t('example.menu.singleModel.title') }}</span>
					<p class="deep-purple-text text-lighten-4">
						{{ $t('example.menu.singleModel.text') }}
					</p>
				</div>
			</div>
			<div class="hoverable card green">
				<div class="card-content">
					<span class="card-title white-text">{{ $t('example.menu.oneToManyRelationship.title') }}</span>
					<p class="green-text text-lighten-4">
						{{ $t('example.menu.oneToManyRelationship.text') }}
					</p>
				</div>
			</div>
			<div class="hoverable card deep-orange">
				<div class="card-content">
					<span class="card-title white-text">{{ $t('example.menu.manyToManyRelationship.title') }}</span>
					<p class="deep-orange-text text-lighten-4">
						{{ $t('example.menu.manyToManyRelationship.text') }}
					</p>
				</div>
			</div>
			<div class="hoverable card indigo">
				<div class="card-content">
					<span class="card-title white-text">{{ $t('example.menu.splittedSchema.title') }}</span>
					<p class="indigo-text text-lighten-4">
						{{ $t('example.menu.splittedSchema.text') }}
					</p>
				</div>
			</div>
			<div class="hoverable card brown">
				<div class="card-content">
					<span class="card-title white-text">{{ $t('example.menu.inheritance.title') }}</span>
					<p class="brown-text text-lighten-4">
						{{ $t('example.menu.inheritance.text') }}
					</p>
				</div>
			</div>
			<div class="hoverable card cyan">
				<div class="card-content">
					<span class="card-title white-text">{{ $t('example.menu.wrapUp.title') }}</span>
					<p class="cyan-text text-lighten-4">
						{{ $t('example.menu.wrapUp.text') }}
					</p>
				</div>
			</div>
		</div> 
	</div>
</rs-container>
