<rs-container>
	<rs-spacer />
	<div class="col s12">
		<rs-breadcrumb>
			<rs-breadcrumb-item to="/rs-json" v-bind:text="$t('breadcrumb.home.text')" />
			<rs-breadcrumb-item to="/rs-json/example" v-bind:text="$t('breadcrumb.example.text')" />
		</rs-breadcrumb>
	</div>
	<rs-spacer />
	<div class="col s12 m4 l3 xl3">
		<div class="card deep-purple">
			<div class="card-content">
			  	<span class="card-title white-text">Single model</span>
			  	<p class="deep-purple-text text-lighten-4">
					Learn the basics with this example showing how to modelize books in a book store.
				</p>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l3 xl3">
		<div class="card green">
			<div class="card-content">
				<span class="card-title white-text">Many-to-one relationship</span>
				<p class="green-text text-lighten-4">
					Learn how to modelize many-to-one relationship. Featuring a book and its author relation.
				</p>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l3 xl3">
		<div class="card deep-orange">
			<div class="card-content">
				<span class="card-title white-text">Many-to-many relationship</span>
				<p class="deep-orange-text text-lighten-4">
					See how to conceptualize many-to-many relationship. Featuring a book store use case: a book ordered a lot of times, and an order containing many books.
				</p>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l3 xl3">
		<div class="card indigo">
			<div class="card-content">
				<span class="card-title white-text">Splitted schema</span>
				<p class="indigo-text text-lighten-4">
					Learn how to separate your schema in small pieces to improve maintainability.
				</p>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l3 xl3">
		<div class="card brown">
			<div class="card-content">
				<span class="card-title white-text">Inheritance</span>
				<p class="brown-text text-lighten-4">
					Catch one of the most powerful concept of RS/JSON and learn how to gradually improve your schema over time.
				</p>
			</div>
		</div>
	</div>
	<div class="col s12 m4 l3 xl3">
		<div class="card cyan">
			<div class="card-content">
				<span class="card-title white-text">Wrap up</span>
				<p class="cyan-text text-lighten-4">
					All you need to know, in one complete example. Conceptualizing a book store and its business challenges.
				</p>
			</div>
		</div>
	</div>
</rs-container>
