<rs-container>
		<rs-spacer />
		<div class="col s12">
			<div class="center-align">
				<strong><h2>{{ $t('home.title') }}</h2></strong>
			</div>
		</div>
		<rs-spacer />
		<div class="col s12 m10 offset-m1 l8 offset-l2">
			<rs-card>
				<span slot="title">example.rs.json</span>
				<div slot="content">
					<rs-code lang="json">{
  "version": "0.1.0",
  "license": "MIT",
  "charset": "utf8",
  "schema": {
    "book": {
      "identifier": ["id"],
      "uniques": {
        "unique_book_name": ["name"]
      }
      "properties": {
        "id": {
          "type": "integer",
          "incremented": true
        },
        "name": {
          "type": "string",
          "required": true,
          "guards": ["filled"]
        }
      }
    }
  }    
}</rs-code>
				</div>
			</rs-card>
		</div>
		<rs-spacer />
		<div class="col s12">
			<div class="center-align">
					<rs-button-link to="/rs-json/example" v-bind:text="$t('home.gettingStartedButton')" />
			</div>
		</div>
		<rs-spacer />
		<div class="col s12">
			<h3>{{ $t('home.singleSourceOfTruth.title') }}</h3>
			<div class="flow-text">
				{{ $t('home.singleSourceOfTruth.text') }}
			</div>
		</div>
		<rs-spacer />
		<div class="col s12">
			<h3>{{ $t('home.raiseYourDataQuality.title') }}</h3>
			<div class="flow-text">
				{{ $t('home.raiseYourDataQuality.text') }}
			</div>
		</div>
		<rs-spacer />
		<div class="col s12">
			<h3>{{ $t('home.scalable.title') }}</h3>
			<div class="flow-text">
				{{ $t('home.scalable.text') }}
			</div>
		</div>
		<rs-spacer />
		<div class="col s12">
			<h3>{{ $t('home.shareYourRecipes.title') }}</h3>
			<div class="flow-text">
				{{ $t('home.shareYourRecipes.text') }}
			</div>
		</div>
		<rs-spacer />
		<rs-spacer />
		<div class="col s12">
			<div class="center-align">
				<rs-button-link to="/rs-json/documentation" text="Read the documentation" />
			</div>
		</div>
		<rs-spacer />
		<rs-spacer />
	</div>
	<rs-edit-proposal-fab href="/html/template/index.html" />
</rs-container>
