<div>
	<div class="navbar-fixed">
		<nav class="orange accent-3">
			<div class="nav-wrapper">
				<router-link to="/rs-json" class="brand-logo"
					>RS/JSON</router-link
				>
				<router-link
					to="#"
					data-target="mobile-demo"
					class="sidenav-trigger"
					><i class="material-icons">menu</i></router-link
				>
				<ul class="right hide-on-med-and-down">
					<li>
						<router-link to="/rs-json/try-it">{{
							$t("menu.tryit")
						}}</router-link>
					</li>
					<li>
						<router-link to="/rs-json/example">{{
							$t("menu.example")
						}}</router-link>
					</li>
					<li>
						<router-link to="/rs-json/documentation">{{
							$t("menu.documentation")
						}}</router-link>
					</li>
					<li>
						<a href="https://github.com/khalyomede/rs-json"
							>Github</a
						>
					</li>
					<li>
						<a
							class="dropdown-trigger"
							href="javascript:;"
							data-target="dropdown-language"
							>{{ $t("menu.language")
							}}<i class="material-icons right"
								>arrow_drop_down</i
							></a
						>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<ul class="sidenav" id="mobile-demo">
		<li>
			<router-link to="/rs-json/try-it">{{
				$t("menu.tryit")
			}}</router-link>
		</li>
		<li>
			<router-link to="/rs-json/example">{{
				$t("menu.example")
			}}</router-link>
		</li>
		<li>
			<router-link to="/rs-json/documentation">{{
				$t("menu.documentation")
			}}</router-link>
		</li>
		<li><a href="https://github.com/khalyomede/rs-json">Github</a></li>
		<li>
			<a
				class="dropdown-trigger"
				href="javascript:;"
				data-target="dropdown-language-mobile"
				>{{ $t("menu.language")
				}}<i class="material-icons right">arrow_drop_down</i></a
			>
		</li>
	</ul>
	<ul id="dropdown-language" class="dropdown-content">
		<li>
			<a href="javascript:;" v-on:click="changeLanguage('en')"
				>English
				<img
					src="/rs-json/img/flag/en.svg"
					height="16px"
					width="24px"
					style="margin-top: 3px"
					class="right"
			/></a>
		</li>
		<li>
			<a href="javascript:;" v-on:click="changeLanguage('fr')"
				>Français
				<img
					src="/rs-json/img/flag/fr.svg"
					height="16px"
					width="24px"
					style="margin-top: 3px"
					class="right"
			/></a>
		</li>
	</ul>
	<ul id="dropdown-language-mobile" class="dropdown-content">
		<li>
			<a href="javascript:;" v-on:click="changeLanguage('en')"
				>English
				<img
					src="/rs-json/img/flag/en.svg"
					height="16px"
					width="24px"
					style="margin-top: 17px"
					class="right"
			/></a>
		</li>
		<li>
			<a href="javascript:;" v-on:click="changeLanguage('fr')"
				>Français
				<img
					src="/rs-json/img/flag/fr.svg"
					height="16px"
					width="24px"
					style="margin-top: 17px"
					class="right"
			/></a>
		</li>
	</ul>
</div>
